* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0B2434;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#root {
  height: 300px;
  /* width: 400px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #F5F5F5;
  height: 300px;
  width: 600px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}